/* fond de page */
body {
  background-image: linear-gradient(0deg, lightblue, lightyellow, grey);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  color: white;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 0.5em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { 
  font-family: Trebuchet MS, sans-serif;  
  background-image: url(parchemin.jpg); 
}
/*http://www.fonts2u.com/caribbean-regular.font*/

/* Mise en page de la description*/
h2 {
color : black;
}

#lat{
  color : black;
  }

#lon{
  color : black;
  }

#description{
  text-align : justify;
  color : black;
  }


/* positionnement des champs */
div#colonne {  
  float: right;
  width : 450px;  
  padding-left: 1em;
  padding-right: 1em;
  margin-right : 1em;}


label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}
#map { height: 500px; width: 1000px; }
