body {
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* polices de caractères  et image de fond*/
/*http://www.fonts2u.com/caribbean-regular.font*/
@font-face {  
 font-family: Caribbean;
  font-style: normal;
  font-weight: 400;
  src: url('Caribbean.ttf');
}

body { 
  background-image: url(parchemin.jpg); 
}


/* bandeau de titre */
h1#grostitre { 
  font-family: Caribbean, regular;
  color: white;
  box-shadow: none;
  margin-top: 1em;
  text-shadow: 3px 3px 3px black; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.1em;
  padding-left: 1em;
  margin-left : 1.7em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }


/* Mise en page de la description*/



/* positionnement des champs */
div#colonne { 
  font-size: 110%;
  font-family: "Trebuchet MS", sans-serif;
  color : white;
  float: right;
  width : 450px;  
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 2px 2px 2px black;
  position: relative;
  top : -1.5em;
}



div#colonne2{
  float : right;
  margin-right : 0.5em;
  position: relative;
  top: 0.5em;
}


div#map {
  z-index : 1;
  box-shadow : 0 0 30px 5px lightseagreen;
}

hr#barre{
  color: lightseagreen;
}

.link{ 
  color : cyan; 
}

div#formulaire{
  z-index: 2;
  position:relative;
  bottom: 160px;
  background-color : rgb(32,178,170,0.4);
  display : inline-block;
  border-radius : 0 30px 0 0 ;
  border-left : 5px lightseagreen;
  box-shadow: 2px 2px 20px 2px rgb(32,178,170,0.3);
  padding-right: 20px;
  text-shadow : 1px 1px 1px black;
}


input{
  margin-left: 10px;
  background-color: rgb(42,188,180,0.2);
  color: white;
}




label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}
#map { height: 500px; width: 1000px; }






div#cadrebouton{
  position: relative;
  top : -38px;
}

button#calcul{
  position: relative;
  left: 9px;
  margin-top: 10px;
  background-color: rgb(32,178,170,0.6);
  color : white;
}


.shape {
  stroke-dasharray: 400 540;
  stroke-dashoffset: -170;
  stroke-width: 8px;
  fill: transparent;
  stroke: lightseagreen;
  border-bottom: 5px solid black;
  transition: stroke-width 0.5s, stroke-dashoffset 0.5s,
  stroke-dasharray 0.5s;
}

.svg-wrapper {
  width: 70px;
  height: 30px;
  position : relative;
  top: 10px;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}