body {
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1#grostitre { 
  font-family:  caribbean, sans-serif;
  color: white;
  box-shadow: none;
  margin-top: 1em;
  text-shadow: 3px 3px 3px black; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.1em;
  padding-left: 1em;
  margin-left : 1.7em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères  et image de fond*/


body {   
  background-image: url(parchemin.jpg); 
}
/*http://www.fonts2u.com/caribbean-regular.font*/

/* Mise en page de la description*/



/* positionnement des champs */
div#colonne { 
  font-size: 110%;
  font-family: "Trebuchet MS", sans-serif;
  color : white;
  float: right;
  width : 450px;  
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 2px 2px 2px black;
  position: relative;
  top : -1em;
}

  div#colonne2{
  float : right;
  margin-right : 2em;
  position: relative;
  top: 1em;
}


div#map {
  box-shadow : 0 0 30px 5px lightseagreen;
}



label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}
#map { height: 500px; width: 1000px; }
